{
  :paths ["src"]
  :deps
  {
    org.clojure/clojure {:mvn/version "1.10.0"}
    backtick            {:mvn/version "0.3.4"}
    clj-time            {:mvn/version "0.12.2"}
    clj-http            {:mvn/version "3.1.0"}
    org.wikidata.wdtk/wdtk-wikibaseapi     {:mvn/version "0.7.0"}
    org.eclipse.rdf4j/rdf4j-query          {:mvn/version "2.1.2"}
    org.eclipse.rdf4j/rdf4j-repository-api {:mvn/version "2.1.2"}
    org.eclipse.rdf4j/rdf4j-runtime        {:mvn/version "2.1.2"}
  }
  :aliases
  {
    :test
    {
      :extra-paths ["test"]
    }}}